.canvas {
	width: 100%;
}

.wide_input {
  width: 90%;
}

body {
      font-family: "Arial";
      font-size: 6pt;
    }

td {
      vertical-align: top;
      border: thin black solid;
    }

h3 {
	font-size: 8px;
	margin-bottom: 0px;
	text-transform: uppercase;
}

h4 {
	margin: 0px;
}

p {
	margin: 0px;
}

.row1 {
	border: none;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}


.canvas_section {
	list-style-type: none;
	padding: 0 10px;
}

.sublist {
	font-style: italic;	
}

ol {
	list-style-type: decimal;
	list-style-position: outside;
	padding: 10px 10px;
	margin: 0px;
}